.vscode/settings.json
.vscode/launch.json
concepts/emailz.py
LearnVisualisation/Exercise Files/*
concepts/__pycache__/*
concepts/python/dockerfile/__pycache__/*
concepts/python/dockerfile/streamlit1/__pycache__/*
concepts/python/dockerfile/streamlit_port_dashboard/__pycache__/*

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# CV-creator
.DS_Store
concepts/CV-creator/trainingData/*.md
concepts/CV-creator/__pycache__/*

# remotion
learnAI/remotion/out/*
learnAI/remotion/package-lock.json
